#top-seller{
    margin:70px 0px;
    .top-seller-head{
        text-align: center;
    }
    .top-seller-img{
      border: 1px solid red;
      img{
        height: 200px;
      }
    }
}